* {
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
}

.filter {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: lightblue;
}

.add-todo {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: lightsteelblue;
    margin-block-start: 10px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;

    padding: 0;
    margin-inline: auto;
    list-style-type: none;
}

li {
    display: flex;
    gap: 5px;
    padding: 4px 8px;
    border-block-end: 1px solid lightgray;
}

li:nth-child(odd) {
    background-color: whitesmoke;
}

li:hover {
    cursor: pointer;
}

li > :first-child {
    flex-grow: 1;
}

.stats {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: lightblue;
}

.hidden {
    display: none;
}

.done {
    text-decoration: line-through;
}